#sider{
    background-color: #0A1C44;
    border-radius: 0px 20px 20px 0px;
    padding-top: 23%;
    padding-bottom: 23%;
    padding-left: 5%;
}
body{
    background-color: #B0B1C3;
    width: 90%;
}
h3{
    color: white;
}
h3{
    text-align: center;
}
#acceder{
    color: white;
    background-color: #6AAB60;
    padding: 1%;
    width: 30%;
    margin-left: 30%;
    margin-top: 3%;
}
.opcion{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #22289b;
    color: white;
    border-radius: 20px;
    text-align: center;
    padding: 1%;
    width: 90%;
}
#auto{
    margin-top: 12%;
    margin-left: 32%;
    display: block;
    background-color: #0A1C44;
    color: white;
    border-radius: 50%;
    width: 45%;
    height: 60%;
    text-align: center;
    padding-top: 60px;
    font-size: 300px;
}
#titulo{
    color: black;
    margin-left: 10%;
    margin-top: 2%;
}