nav{
    height: 10.625rem;
    background: #0A1C44;
    border-radius: 0px 0px 50px 50px;

}

#link{
  color: black;
  text-decoration: none;
}


p{
    margin-top: 0.25rem ;
    margin-bottom: 0.1875rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #E4EAEA;
    font-weight: bold;
}


.nav2{
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  height: 10.625rem;
  margin-left: 2.4rem;

}
.nav2 div{
 display: flex;
 flex-direction: column;
 width: 94%;
 height: 10.625rem;
 
 margin-right: 6%;
 padding: 0;
 display: grid;
 grid-template-columns: 35.9% 54.4%;
}
.nav2 img{
  width: 67.53%;
  height: 5.558vh;
  display: flex;
  margin-top: 3.625rem;
  flex-direction: column;
  margin-left: 23.47%;
}
.nav2 p{
  text-size-adjust: 1.875rem;
  margin-top: 4.375rem;
 
}
.nav2 div:hover{
  background-color: #324265;
  width: 100%;
}

.nav2 .salir:hover{
  background-color: #324265;
  width: 114%;
  border-radius: 0px 0px 50px 0px;
}


