 
/*botones y imagenes*/

.herramientas{
   
    padding-top: 10.09%;

     
   
    
     display: grid;
     grid-template-columns: repeat(3, 33.3%);


     grid-template-rows: repeat(2, 50%);
     
     grid-template-areas:
       'registrar alquiler usuarios'
       'reportes salir';
     justify-content: center;
    }
     


.registrar,  .alquiler , .usuarios, .reportes , .salir{
  display: flex;

  height: 12.4375rem;
  
  justify-content: center;
  align-items: center;
  
}
.reportes, .salir {

  margin-top: 4.1875rem;
}

.r1 , .r2 , .r3 , .r4 , .r5{
  width: 72.05%;
  
}


.iconRegistrar , .iconAlquilar , .iconUsuarios, .iconReportes , .iconSalir {
    margin-left: 34.62%;
    width:31.03%;
  
  }
   .botonRegistro , .botonAlquilo , .botonUsuarios , .botonReportes , .botonSalir{
    display: flex;
    margin-top:1.875rem ;
    border-radius: 25px;
    width: 100%;
    height: 5.0625rem;
    background-color: #0A1C44;
    cursor:  pointer;
    transition: transform 0.2s ease;
    justify-content: center;
    align-items: center;
  }
  
  .botonRegistro:active ,
   .botonAlquilo:active,  .botonUsuarios:active , .botonReportes:active , .botonSalir:active  {
  transform: scale(0.96);
  }
 
   .botonRegistro p, .botonAlquilo p , .botonUsuarios p , .botonReportes p , .botonSalir p  {
      margin-top: 0px;
      margin-bottom: 0px;
  
  
   }
   
   .botonRegistro:hover,.botonAlquilo:hover ,.botonUsuarios:hover , .botonReportes:hover , .botonSalir:hover  {
  background-color: #3E60AC ;
  }
  
  @media(max-width: 1600px){ 
    body{
      font-size: 23px;

    }

  }