
body{

    padding: 0;
    margin: 0;
    background: #DFE0F8;
    font-size:  1.5625rem;
}

.fondo{
  background-color: #ffff;
  margin-top: 1.56em;
  margin-left: auto;
  margin-right: auto;
  
 width: 72.9%;
 height: 47.625rem;
}

/*nav content final */
/*cuadrado contenido */


