body{
    width: 1920px;
    height: 1080px;
      padding: 0;
      margin: 0;
      background: #DFE0F8;
      background-color:#DFE0F8;
  }

.fondo{
 
    background-color: #ffff;
    margin-top: 39px;
    margin-left: 275px;
    width: 1400px;
    height: 762px;
}
  

    /*cuadrado contenido */
  
 /*botones inferiores*/

 .error{

  font-family:'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #dc3545;

 }


