
    .tit{
      text-align: center;
    }
    .tit p{
      font-size: 38px;
      color: black;
    }


    .button{
        width:221px ;
        height:69px ;
    background-color: #0A1C44;
    }
    .button p{

        text-align: center;
        font-size: 30px;
       }
       /* fila 1 inicio
       */
       .botonAgregar{
        border-radius: 20px;
        width:221px ;
        height:69px ;
        background-color: #0A1C44;
        margin-top: 4px ;
        margin-bottom: 3px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 25px;
        line-height: 30px;
        color: #E4EAEA;
        font-weight: bold;
        cursor:pointer;

       }
       .agregarUsuario{
        /*
        background-color: yellow;
        /*
        margin-left: 125px;
        */
        justify-items: center;
        display:grid;
        grid-template-areas:
        "nomU"
        "agregarU"
        ;
       }
       .agregarParqueo{
        /*
        background-color: yellow;
        /*
        margin-right: 125px;
        */
        
        justify-items: center;
        display:grid;
        grid-template-areas: 
        "nomP"
        "agregarP"
        ;
       }
      .botonesformu{
        /*
        background-color: skyblue;
        */
        gap: 150px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        display: grid;
      }
      /*fin fila 1
      */
      /*fila2 inicio
      */
      .Horario{
        /*
        background-color: green;
        */
        text-align: center;
       }
       .Duracion{
        /*
        position:relative;
        right: 75px;
        */
        /*
        background-color: red;
        */
        width: 394.44px;
        text-align: center;
       }
       .fila2{
        /*
        background-color: skyblue;
        */
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap:200px
      }
       /*Fin fila2
       */
       .Precio{
       
        text-align: center;
       }
       .seleccion{
        text-align: center;
       }
     
      .fila3{
        /*
        background-color: purple;
        */
         margin-top: 50px;
         grid-template-columns: 1fr 1fr;
         display: grid;
         gap: 200px;
      }
      .fila4{
        grid-template-columns: 1fr 1fr;
         display: grid;
         gap: 200px;
         margin-top: 40px;
      }
      .pagar{
        width: 25px;
        height: 25px;
        
      }
      .rad{
        text-align: center;
        
        
      }
     
      .principal{
        display:grid;
        grid-template-areas: 
        "tit"
        "botonesformu"
        "fila2" 
        "fila3"
        "fila4"
        ;
      }
      /*
       cambios en el fondo para centrar
      */
      
      .fondo{
        
          display: flex;
          justify-content: center;
         
        }
        /*
        Inputs de texto
        */
        .linea{

            width: 394.44px;
            height: 36px;
            background-color: transparent;
            border:0;
            border-bottom:1px solid #000000;
            box-shadow: none;
            outline:none;
            font-size: 30px;
           
           
        }
        .linea2{

          width: 394.44px;
          height: 36px;
          background-color: transparent;
          border:0;
          border-bottom:1px solid #000000;
          box-shadow: none;
          outline:none;
          font-size: 30px;
          margin-top: 30px;
         
      }
        /*
        nombres de los campos
        */
        .nom{
            color: black;
            margin-bottom: 25px;
            font-size: 30px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
        }
        .nom2{
          color: black;
           margin-bottom: 25px;
            font-size: 25px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
        }
        /*
        cambios en los input date(no funca aun)
        
        .fecha::before{
          content: "FechaInicio"; 
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          padding: 6px;
          background-color: #fff;
          z-index: 1;
        }
        .fecha:focus::before,
        .fecha:valid::before {
         display: none;
        }
        */
        .herramientas{
          padding: 0;
        }

        .error{
          font-family: 'Inter';
          font-weight: 400;
          font-size: 20px;
          color: #dc3545;
          padding-top: 8px
        }